// @import "cus-var";
// Font Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
// fonts work Sans-serif
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    color: #010101;
    background-color: rgb(247, 248, 250);
    @media(max-width: 575px) {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

.ffInter {
    font-family: "Inter", sans-serif !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 3rem;
}

h2,
.h2 {
    font-size: 2.5rem;
}

h3,
.h3 {
    font-size: 2rem;
}

h4,
.h4 {
    font-size: 1.75rem;
}

h5,
.h5 {
    font-size: 1.125rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin: 0px;
    color: #000c;
}

a {
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

ul,
ol {
    list-style-type: disc;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    @media(min-width: 1200px) {
        max-width: 1180px;
    }
}

.btn {
    color: #ff7841;
    border-radius: 4px;
    padding: 8px 20px;
    border: 2px solid #ff7841;
    @media(max-width: 992px) {
        font-weight: 500;
    }
}

.btn:hover {
    background-color: #ff7841;
    color: #fff !important;
}

.btn-lg {
    font-size: 18px;
    line-height: 19px;
    padding: 15px 30px;
    @media(max-width: 992px) {
        font-size: 16px;
        line-height: 17px;
        padding: 10px 20px;
    }
}

.form-control {
    padding: 0px;
    background-color: transparent;
    color: #000 !important;
    border-radius: 15px;
    border: none;
}

 ::placeholder {
    color: #000 !important;
}

.form-control:focus {
    background-color: transparent;
    color: #fff;
}

.form-control:focus {
    border-color: none !important;
    box-shadow: unset !important;
}

.dropdown-toggle {
    color: #fff !important;
    width: 100%;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    width: 100%;
}

.btn.focus,
.btn:focus {
    box-shadow: unset;
}

.ng-select,
.ng-select div,
.ng-select input,
.ng-select span {
    width: 100%;
    background-color: transparent !important;
    padding: 0px;
    color: #000 !important;
}

.ng-select.ng-select-single .ng-select-container {
    height: 36px;
    border-radius: 30px;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #fff !important;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    top: 10px;
}

.ng-dropdown-panel.ng-select-bottom {
    top: 50px;
}

.ng-select .ng-select-container .ng-value-container {
    padding: 0px;
    border-top-width: 1px!important;
}

.ng-select .ng-select-container {
    border: 2px solid #ff7841;
    display: flex;
    align-items: center;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    color: #fff;
}

.ng-select.ng-select-opened>.ng-select-container {
    border: 2px solid #ff7841;
}

.ng-select .ng-select-container:after {
    border-bottom: none;
}

.ng-select .ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: #ff7841 !important;
    box-shadow: unset !important;
}

.ng-dropdown-panel .ng-dropdown-header {
    display: none;
}

.ng-dropdown-panel .ng-dropdown-footer {
    display: none;
}

.ng-select .ng-select-container .ng-value-container {
    padding: 0px;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
    display: none;
}

.kishu-section .bg-image:before {
    content: "";
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: #fffffff2;
    position: relative;
    z-index: -1;
    border-radius: 40px;
}

.kishu-section .bg-image {
    background: url("../assets/images/processed (2).png");
    background-size: cover;
    background-position: center;
    z-index: 10;
    position: relative;
}

.modal-content {
    width: 80%;
}

.modal {
    position: fixed;
    top: 190px;
    left: 390px;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.catoshi-content .ng-select.ng-select-single .ng-select-container {
    border-radius: 0px;
    border: none;
}

.catoshi-content .ng-select,
.ng-select div,
.ng-select input,
.ng-select span {
    // width: 140px;
}

@media only screen and (max-width:991px) {
    .modal {
        position: fixed;
        top: 250px;
        left: 0px;
    }
    .modal-content {
        width: 100%;
    }
}

.catoshi-content .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    align-self: flex-end;
    bottom: 15px;
    left: -13px;
}